body {
  background-color: #f0e7d8;
}

hr {
  clear: both;
  visibility: hidden;
}

button {
  background-color: white;
  border: 3px solid #99896e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  background-color: #80735e;
  font-family: Arial, Helvetica, sans-serif;
}

th, td {
  background-color: white;
  border: 1px solid #80735e;
}

#prestige {
  background-color: #dfedf5;
  border: 3px solid #4987ab;
  color: #003654
}

#hardreset {
  background-color: #ff928a;
  border: 3px solid #ff0000;
  color: #9c0a00
}

#infinity {
  width: 600px;
  background-color: #151515;
  border: 3px solid black;
}

#collapse {
  width: 400px;
  height: 50px;
  background-image: url("https://dropboxtechblog.files.wordpress.com/2019/11/vortex-highlight-1300-760.png");
  color: #c65cff;
  border: 3px solid black;
  background-size: 100% 100%;
}

#singularity {
  position: fixed;
  width: 300px;
  height: 100%;
  border: 3px solid #7100ad;
  right: 0;
  top: 0;
  background-image: url("https://1-background.com/images/stars-1/beautiful-blue-stars-fill.jpg");
}

#singularity_button {
  background-color: black;
  color: purple;
  border: 3px solid #7100ad;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#options {
  position: fixed;
  width: 400px;
  left: 0;
  top: 0;
  background-color: #d6cab6;
}

#version {
  text-align: left;
  vertical-align: top;
  padding-left: 7px;
}