body {
  background-color: #f0e7d8;
}

hr {
  clear: both;
  visibility: hidden;
}

button {
  background-color: white;
  border: 3px solid #99896e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#prestige {
  background-color: white;
  border: 3px solid #4987ab;
}